Makefile
Makefile.in
*.swp
*~
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache
depcomp
doc/reference/version.xml
gtk-doc.make
install-sh
iris.pc
.deps
iris/iris-version.h
libtool
ltmain.sh
missing
stamp-h1
iris-1.0.pc
.libs/
*.la
*.lo
tests/message-1
tests/message-1.o
tests/port-1
tests/port-1.o
tests/receiver-1
tests/receiver-1.o
tests/free-list-1
tests/free-list-1.o
tests/stack-1
tests/stack-1.o
tests/queue-1
tests/queue-1.o
tests/thread-1
tests/thread-1.o
tests/scheduler-manager-1
tests/scheduler-manager-1.o
tests/lf-queue-1
tests/lf-queue-1.o
tests/ws-queue-1
tests/ws-queue-1.o
tests/task-1
tests/task-1.o
tests/scheduler-1
tests/scheduler-1.o
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/iris-decl-list.txt
doc/reference/iris-decl.txt
doc/reference/iris-overrides.txt
doc/reference/iris-undeclared.txt
doc/reference/iris-undocumented.txt
doc/reference/iris-unused.txt
doc/reference/iris.args
doc/reference/iris.hierarchy
doc/reference/iris.interfaces
doc/reference/iris.prerequisites
doc/reference/iris.signals
doc/reference/scan-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/xml/
*.bak
build/autotools/shave
build/autotools/shave-libtool
examples/basic
examples/basic.o
examples/recursive
examples/recursive.o
