Source: iris
Section: libs
Priority: optional
Maintainer: Christian Hergert <chris@dronelabs.com>
Uploaders: Christian Hergert <chris@dronelabs.com>
Build-Depends: cdbs (>= 0.4.41),
               debhelper (>= 5),
               gnome-pkg-tools (>= 0.11),
               pkg-config (>= 0.14),
               libglib2.0-dev (>= 2.16.0),
               libvala-dev,
               gtk-doc-tools (>= 1.9),
               python-dev (>= 2.2),
               python-gtk2-dev,
               python-gobject-dev,
               python-central,
               dpkg-dev (>= 1.14.13)
Standards-Version: 3.8.0
Homepage: http://dronelabs.com/p/iris
XS-Python-Version: >= 2.2

Package: libiris-1.0-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: GObject library for asynchronous programming - shared libraries
 Iris is an asynchronous toolkit built upon message passing that supports
 mutliple exucution schedulers including work-stealing.  It provides reusable
 lock-free data-structures and constructs familiar to async programming in
 other languages.
 .
 This package contains the shared libraries.

Package: libiris-dev
Section: libdevel
Architecture: any
Depends: libiris-1.0-0 (= ${binary:Version}),
         ${misc:Depends},
         libglib2.0-dev (>= 2.16.0)
Suggests: libunique-doc, vala
Description: GObject library for asynchronous programming - development files
 Iris is an asynchronous toolkit built upon message passing that supports
 mutliple exucution schedulers including work-stealing.  It provides reusable
 lock-free data-structures and constructs familiar to async programming in
 other languages.
 .
 This package contains the headers and development libraries needed to
 build applications using the Iris library

Package: libiris-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: libiris-1.0-0
Suggests: devhelp
Description: GObject library for asynchronous programming - documentation
 Iris is an asynchronous toolkit built upon message passing that supports
 mutliple exucution schedulers including work-stealing.  It provides reusable
 lock-free data-structures and constructs familiar to async programming in
 other languages.
 .
 This package contains the HTML documentation for the Iris library

Package: python-iris
Section: python
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: GObject library for asynchronous programming - Python bindings
 Iris is an asynchronous toolkit built upon message passing that supports
 mutliple exucution schedulers including work-stealing.  It provides reusable
 lock-free data-structures and constructs familiar to async programming in
 other languages.
 .
 This package contains the Python bindings for the Iris library

